/* import thư viện của slider vào để xử dụng */
@import "~slick-carousel/slick/slick.css"; 
@import "~slick-carousel/slick/slick-theme.css";

/* import thư viện của css vào để xử dụng */
@import 'antd/dist/reset.css';

body {
  margin: 0;
  box-sizing: border-box;
  padding: 0;
}

html {
  font-size: 62.5%;
}